<form action='books' method='get'>
  <label>Minimum rating:
    <input type='number' name='minRating' />
  </label>
  <button>Filter</button>
</form>

<br />

<a href='/books/create'>Add a new book</a>

<hr />

<ul>
  {{#each booksArr}}
    <section class='book-summary'>
      <h2>{{title}}</h2>
      <p>
        Author:
        {{author}}
        <br />
        Rating:
        {{rating}}
        <br />
        <a href='/books/{{id}}'>More details</a>
        |
        <a href='/books/{{this._id}}/edit'>Edit</a>
        <form action='/books/delete' method='post'>
          <button name='bookId' type='submit' value='{{id}}'>Delete</button>
        </form>
      </p>
    </section>
  {{/each}}
</ul>